<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqa8ql4jBq5zj8VxW8l84nvZ_Ak_1ccew</string>
	<key>GCM_SENDER_ID</key>
	<string>49459051581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emateli.vendor</string>
	<key>PROJECT_ID</key>
	<string>icupa-396da</string>
	<key>STORAGE_BUCKET</key>
	<string>icupa-396da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49459051581:ios:53ae7e3d00afb419107e54</string>
</dict>
</plist>