<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX-OsDNv0-JUsZnNtLua3Mf6ubwXMOBHY</string>
	<key>GCM_SENDER_ID</key>
	<string>498351091702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madein.vendor</string>
	<key>PROJECT_ID</key>
	<string>madein-a5f78</string>
	<key>STORAGE_BUCKET</key>
	<string>madein-a5f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498351091702:ios:5f6c5084cb3e58a767e1d7</string>
</dict>
</plist>